.activeLink {
    text-decoration: none;
    color: gray;
    cursor: default;
}
.activeLink:hover {
    text-decoration: none;
    color: gray;
}
#banner {
    position: fixed;
    top: 175px;
    left: 0;
    right: 0;
    font-family: 'Glegoo', serif;
    font-size: 100px;
    font-weight: 620;
    letter-spacing: 5px;
    color: lightskyblue;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    z-index: 1;
    text-shadow: 5px 5px 3px snow;
}
.btn-primary {
    background-image: url(../images/snowBack.jpg);
    background-repeat: repeat;
    background-size: 600px;
    color: black;
    float: right;
    margin: 0 5px;
}
.card-header {
    background-image: url(../images/snowBack.jpg);
    background-repeat: repeat;
    background-size: 600px;
    color: snow;
    font-family: 'Glegoo', serif;
    text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}
.card-text {
    color: black;
    font-family: 'Glegoo', serif;
    font-size: 18px;
    line-height: 30px;
}
.close {
    color: #4e4e4e!important;
    position: absolute;
    right: 8px;
    font-size: 28px;
    font-weight: bold;
} 
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
footer { 
    z-index: 5;
    height: auto;
    position: relative;
    min-height: 150px;
    border-top: 15px solid lightcyan;
    background-color: lightskyblue;
}
.footerText {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 35px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Glegoo', serif;
}
.footLinks {
    text-decoration: none;
    color: #ffffff;
}
.footLinks:hover {
    text-decoration: none;
    color: #fcd060;
}
h3 {
    color: snow;
    font-family: 'Glegoo', serif;
    text-shadow:
    -1px -1px 0 grey,
    1px -1px 0 grey,
    -1px 1px 0 grey,
    1px 1px 0 grey;
}
h4 {
    color: black;
    font-family: 'Glegoo', serif;
    padding: 0 10px;
}
#head {
    left: 20px;
    height: 71px;
    top: 15px;
    position: absolute;
}
#head:hover {
    cursor: pointer;
    opacity: 0.8;
}
header {
    background: snow;
    height: 100px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid lightgray;
}
hr {
    background-color: lightskyblue;
    height: 1px;
}
.innerHeader {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 100px;
    position: relative;
}
.links {
    text-decoration: none;
    color: black;
}
.links:hover {
    text-decoration: none;
    color: lightskyblue;
}
main {
    height: 3737.25px;
    background-color: snow;
}
.mid {
    min-height: 2687.25px;
    background-color: snow;
    position: relative;
    height: auto;
    z-index: 2;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255,0.7);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 5px solid lightskyblue;
    width: 90%;
    max-width: 600px;
}
.mountPic {
    background-size: 100%;
    width: 100%;
    height: auto;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; 
    bottom: 0px;
    z-index: 2;
    position: absolute;
}
.nav-up {
    top: -100px;
}
#nav-links {
    position: absolute;
    font-family: 'Glegoo', serif;
    font-size: 20px;
    right: 10px;
    background-color: inherit;
    z-index: 10;
    color: black;
    bottom: 30px;
}
.projs {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 960px;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
}
.projCards {
    border: 1px solid lightskyblue;
    padding: 0;
    margin-top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 404px;
    background-image: url(../images/snowBack.jpg);
    background-repeat: repeat;
    background-size: 600px;
    box-shadow: 10px 10px 5px grey;
}
.projCards:hover {
    cursor: pointer;
    opacity: 0.8;
}
.projImg {
    width:100%;
    padding: 0 15px;
}
.projText {
    line-height: 30px;
}
.transparent {
    background: transparent!important;
    border: transparent;
}
.top {
    background-image: url(../images/snow.png);
    height: 900px;
    background-color: #bdebff;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 600px;
    position: relative;
    z-index: 1;
}
.temp:hover {
    cursor: not-allowed!important;
    opacity: 1!important;
}
@media only screen and (max-width: 400px) {
    #nav-links { 
        bottom: -10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        text-align: center;
    }
    header {
        height: 120px;
    }
    #head {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; 
    }
    .nav-up {
        top: -120px;
    }
    .sand {
        font-size: 80px;
    }
    #banner {
        font-size: 80px;
    }
}
@media only screen and (min-width:384px) and (max-width: 463px) {
    #banner {
        font-size: 80px;
    }
}
@media only screen and (max-width: 383px) {
    #banner {
        font-size: 60px;
    }
}
@media only screen and (min-width: 441px) and (max-width: 807px) {
    .mid {
      min-height: 5274.50px;
    }
    main {
        height: 6254.50px;
    }
    .projs{
        top: 30px;
    }
}
@media only screen and (min-width:390px) and (max-width: 440px) {
    .projCards {
        width: 350px;
    }
    .mid {
        min-height: 4945.4px;
      }
      main {
          height: 5897.4px;
      }
      .projs{
          top: 30px;
      }
}
@media only screen and (min-width:340px) and (max-width: 389.999px) {
    .projCards {
        width: 300px;
    }
    .mid {
        min-height: 4772.4px;
    }
    main {
        height: 5722.4px;
    }
    .projs{
        top: 30px;
    }
}
@media only screen and (max-width: 339.999px) {
    .projCards {
        width: 250px;
    }
    .mid {
        min-height: 4659.4px;
    }
    main {
        height: 5609.4px;
    }
    .projs{
        top: 30px;
    }
}            
