header {
    background: lightskyblue;
    height: 100px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid lightgray;
}
.innerHeader {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 100px;
    position: relative;
}
#head {
    left: 20px;
    height: 71px;
    top: 15px;
    position: absolute;
}
#head:hover {
    cursor: pointer;
    opacity: 0.8;
}
.nav-up {
    top: -100px;
}
#nav-links {
    position: absolute;
    font-family: 'Glegoo', serif;
    font-size: 20px;
    right: 10px;
    background-color: inherit;
    z-index: 10;
    color: black;
    bottom: 30px;
}
.links {
    text-decoration: none;
    color: black;
}
.links:hover {
    text-decoration: none;
    color: rgba(152, 251, 152, 0.822);
}
.activeLink {
    text-decoration: none;
    color: gray;
    cursor: default;
}
.activeLink:hover {
    text-decoration: none;
    color: gray;
}
.transparent {
    background: transparent!important;
    border: transparent;
}
main {
    height: 2550px;
    background-image: url(../images/sand.png);
    background-repeat: repeat;
}
.top {
    background-image: url(../images/sky4.png);
    height: 900px;
    background-color: #bdebff;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 4;
}
#name {
    position: fixed;
    top: 175px;
    left: 0;
    right: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 100px;
    font-weight: 620;
    letter-spacing: 5px;
    color: gold;
    /* color: rgba(152, 251, 152, 0.822); */
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    z-index: 4;
}
.noName {
    display: none;
}
.mountPic {
    background-size: 100%;
    height: auto;
    width: 100%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; 
    bottom: -150px;
    z-index: 15;
    position: absolute;
}
.mid1 {
    background-image: url(../images/beach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    min-height: 1500px;
    /* top: -100px; */
    position: relative;
    height: auto;
}
#crab {
    position: absolute;
    width: 150px;
    bottom: 585px;
    right: 60px;
    left: -60px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}
@-webkit-keyframes crabFade {
    0%   {bottom:585px;}
    50%  {opacity: 1;}   
    100% {bottom:1200px; opacity: 0;}
}
@keyframes crabFade {
    0%   {bottom:585px;}
    50%  {opacity: 1;}   
    100% {bottom:1200px; opacity: 0;}
}
.crab {
    -webkit-animation-name: crabFade;
    -webkit-animation-duration: 2s;
    animation-name: crabFade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.about {
    position: absolute;
    left: 0;
    right: 0;
    top: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sand {
    font-size: 100px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #b38513;
    font-weight: 300;
    padding: 0 24px;
    letter-spacing: 5px;
    text-shadow:
    -4px -4px 0 #fcd060,
    4px -4px 0 #fcd060,
    -4px 4px 0 #fcd060,
    4px 4px 0 #fcd060;
}
.sandSmall {
    font-size: 30px;
    max-width: 700px;
    margin: auto;
    color: #b38513;
    padding: 0 24px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-shadow:
    -2px -2px 0 #fcd060,
    2px -2px 0 #fcd060,
    -2px 2px 0 #fcd060,
    2px 2px 0 #fcd060;
}
#oct {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    top: 520px;
}
#octLoad {
    display: none;
}
footer { 
    z-index: 5;
    height: auto;
    position: relative;
    min-height: 150px;
    background-image: url(../images/grass.jpg);
    background-repeat: repeat;
    border-top: 15px solid rgba(165, 42, 42, 0.568); 
}
.footerText {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 35px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Glegoo', serif;
}
.footLinks {
    text-decoration: none;
    color: #ffffff;
}
.footLinks:hover {
    text-decoration: none;
    color: #fcd060;
}
@media only screen and (max-width: 400px) {
    #nav-links { 
        bottom: -10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        text-align: center;
    }
    header {
        height: 120px;
    }
    #head {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; 
    }
    .nav-up {
        top: -120px;
    }
    #oct {
        width: 95%;
    }
}
@media only screen and (min-width: 586px) and (max-width: 657px){
    #oct {
        top: 570px;
    }
    main {
        height: 2600px;
    }
    .mountPic {
        bottom: -100px;
    }
        
}
@media only screen and (min-width: 567px) and (max-width: 585px){
    #oct {
        top: 620px;
    }
    main {
        height: 2650px;
    }
}
@media only screen and (min-width: 512px) and (max-width: 566px) {
    #oct {
        top: 760px;
    }
    main {
        height: 2760px;
    }
}
@media only screen and (min-width: 495px) and (max-width: 511px) {
    #oct {
        width: 449px;
        top: 880px;
    }
    main {
        height: 2780px;
    }
}
@media only screen and (min-width: 435px) and (max-width: 494px) {
    #oct {
        width: 449px;
        top: 920px;
    }
    main {
        height: 2820px;
    }
}
@media only screen and (min-width: 419px) and (max-width: 434px) {
    #oct {
        width: 398px;
        top: 960px;
    }
    main {
        height: 2810px;
    }
}
@media only screen and (min-width: 406px) and (max-width: 418px) {
    #oct {
        width: 348px;
        top: 1040px;
    }
    main {
        height: 2890px;
    }
}
@media only screen and (min-width: 401px) and (max-width: 405px) {
    #oct {
        width: 348px;
        top: 1060px;
    }
    main {
        height: 2910px;
    }
}
@media only screen and (min-width: 374px) and (max-width: 400px) {
    #oct {
        width: 348px;
        top: 950px;
    }
    main {
        height: 2790px;
    }
    .sand {
        font-size: 80px;
    }
    #name {
        font-size: 80px;
    }
}
@media only screen and (min-width: 356px) and (max-width: 373px) {
    #oct {
        width: 348px;
        top: 945px;
    }
    main {
        height: 2740px;
    }
    .sand {
        font-size: 80px;
    }
    #name {
        font-size: 80px;
    }
}
@media only screen and (min-width: 339px) and (max-width: 355px) {
    #oct {
        width: 348px;
        top: 990px;
    }
    main {
        height: 2785px;
    }
    .sand {
        font-size: 80px;
    }
    #name {
        font-size: 80px;
    }
}    
@media only screen and (min-width: 308px) and (max-width: 338px) {
    #oct {
        width: 299px;
        top: 990px;
    }
    main {
        height: 2785px;
    }
    .sand {
        font-size: 70px;
    }
    #name {
        font-size: 70px;
    }
}
/*@media only screen and (max-width: 307px) {
    #oct {
        width: 279px;
        top: 1035px;
    }
    main {
        height: 2830px;
    }
} */

